.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
 background-color:black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.avatar{
  
  width: 7%;
  height: auto;
  border-radius: 50%;
  float:left;
  text-align: left;
}

.instagram{
  
  background-color:black;
  color: white;
  border: 2px solid #b60e5c; /* Green */
}

.discord{

 background-color: rgb(0, 0, 0);
border: 2px solid #24a0ed ;
 color: black;
}
.twitter{
background-color: white;
border: 2px solid #0054f0 ;
 color: black;
}

.github{
  background-color: white;
  border: 2px solid #9f05e6 ;
   color: black;
}