body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.avatar {
  padding: 20px 30px;
}

.photo {
  width: 135px;
  height: auto;
  border-radius: 50%;
}
button {
  color: gray;
  background-color: black;
}
.instagram {
  border: 2px solid #b60e5c;
}

.discord {
  border: 2px solid #24a0ed;
}
.twitter {
  border: 2px solid #0054f0;
}

.github {
  border: 2px solid #9f05e6;
}
.maindiv {
  display: flex;
  margin-bottom: 100px;
}
